<div class="wrapper">

  <div class="d-flex justify-content-between" >
    <h1 style="padding: 5px 0; margin-left: 115px;" >Library Management System</h1>
    <div class="align-self-center" *ngIf="UI === 'user' || UI === 'admin'">
      <button routerLink="login/user-login" class="btn btn-danger">Log Me Out</button>
    </div>
  </div>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      2020 Library Management System | Designed by: Flinte-X
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020-2025 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
