<div class="wrapper">

  <div >
    <h1 style="padding: 5px; margin-left: 120px;" >Library Management System</h1>
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light">
    <div class="container">
      <div class="collapse navbar-collapse order-3 justify-content-end" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav" >
          <li class="nav-item">
            <a href="#" class="nav-link">ADMIN LOGIN</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">USER SIGNUP</a>
          </li>
          <li class="nav-item" >
            <a href="#" class="nav-link" >USER LOGIN</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- /.navbar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
          <h2>If need content header</h2>
<!--          todo: remove h2 and add content header if required-->
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
              <h2>insert content</h2>
<!--              todo: remove h2 and insert login, signup forms here-->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      2020 Library Management System | Designed by: Flinte-X
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020-2025 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
