<div class="wrapper">

  <div class="d-flex justify-content-between" >
    <h1 style="padding: 5px 0; margin-left: 115px;" >Library Management System</h1>
    <div class="align-self-center" *ngIf="UI === 'user-dashboard' || UI === 'admin-dashboard'">
      <button routerLink="/admin-login" class="btn btn-danger">Log Me Out</button>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light">
    <div class="container">
      <div class="collapse navbar-collapse order-3 justify-content-end" id="navbarCollapse">
        <!-- Left navbar links -->
        <div [ngSwitch]="UI">
          <div *ngSwitchCase="'common'">
            <ul class="navbar-nav" >
              <li class="nav-item">
                <a routerLink="/admin-login" routerLinkActive="active"  class="nav-link">ADMIN LOGIN</a>
              </li>
              <li class="nav-item">
                <a routerLink="/user-signup" routerLinkActive="active"  class="nav-link">USER SIGNUP</a>
              </li>
              <li class="nav-item" >
                <a routerLink="/user-login" routerLinkActive="active" class="nav-link" >USER LOGIN</a>
              </li>
            </ul>
          </div>
          <div *ngSwitchCase="'admin-dashboard'">
            <ul class="navbar-nav" >
              <li class="nav-item">
                <a href="#" class="nav-link">DASHBOARD</a>
              </li>
              <li class="nav-item dropdown">
                <a id="categories-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">CATEGORIES</a>
                <ul aria-labelledby="categories-dropdown" class="dropdown-menu border-0 shadow">
                  <li><a href="#" class="dropdown-item">ADD CATEGORY</a></li>
                  <li><a href="#" class="dropdown-item">MANAGE CATEGORY</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a id="authors-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">AUTHORS</a>
                <ul aria-labelledby="authors-dropdown" class="dropdown-menu border-0 shadow">
                  <li><a href="#" class="dropdown-item">ADD AUTHOR</a></li>
                  <li><a href="#" class="dropdown-item">MANAGE AUTHORS</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a id="books-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">BOOKS</a>
                <ul aria-labelledby="books-dropdown" class="dropdown-menu border-0 shadow">
                  <li><a href="#" class="dropdown-item">ADD BOOKS</a></li>
                  <li><a href="#" class="dropdown-item">MANAGE BOOKS</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a id="issue-books-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">ISSUE BOOKS</a>
                <ul aria-labelledby="issue-books-dropdown" class="dropdown-menu border-0 shadow">
                  <li><a href="#" class="dropdown-item">ISSUE NEW BOOK</a></li>
                  <li><a href="#" class="dropdown-item">MANAGE ISSUED BOOKS</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">REG STUDENTS</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">CHANGE PASSWORD</a>
              </li>
            </ul>
          </div>
          <div *ngSwitchCase="'user-dashboard'">
            <ul class="navbar-nav" >
              <li class="nav-item">
                <a href="#" class="nav-link">DASHBOARD</a>
              </li>
              <li class="nav-item dropdown">
                <a id="account-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">ACCOUNT</a>
                <ul aria-labelledby="account-dropdown" class="dropdown-menu border-0 shadow">
                  <li><a href="#" class="dropdown-item">MY PROFILE</a></li>
                  <li><a href="#" class="dropdown-item">CHANGE PASSWORD</a></li>
                </ul>
              </li>
              <li class="nav-item" >
                <a href="#" class="nav-link" >ISSUED BOOKS</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </nav>
  <!-- /.navbar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <div class="content">
      <div class="container">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      2020 Library Management System | Designed by: Flinte-X
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020-2025 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
